.navbar-bar {
  display: none;
}

.is-mobile {
  display: inline;
}
.navbar-menu-list {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}


.App {
    text-align: center;
  }
    
  .sidenav {
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #54B689;
    overflow-x: hidden;
    padding: 28px 0;
    color:white;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
    display: block;
    text-align:left;
  }
  
  .sidenav a:hover {
    color:  #2d4942;
  }
  .mybio{
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 0.875rem;
    text-align: center !important;

  }
  .name-title {
    display:block;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:white;
    font-size:20px;
    font-weight: 700;
    box-sizing:border-box;
    line-height:24px;
    text-align:center;
    margin-bottom: 20px;

    text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.image {
    margin-bottom: 1rem !important;
}

Button {
  background-color: 'rgba(0,0,0,0.3)';
  border-color:'black';
  padding: 3px;
  width: 110px;
  height: 35px ;
}
 
@media all and (max-width: 990px) {
  .is-mobile {
    display: none;
    width: 100%;
}
.navbar-bar {
  display: inline;
  float: left;
  font-weight: 700; 

}
.sidenav {
  width:100%;
  height: auto;
  padding: 20px;
}
.mybio{
  color:white;
  width:auto;
  margin-bottom: 15px;
  font-size: 0.875rem;
  text-align: center !important;

}

}
