  h1,h2, h4{
        color:black;
        font-Weight:700; 
    }
  .topic {
      color:black;
      font-Weight:700; 

  }
  .body {
    margin-left: 480px;
    margin-Right: 200px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  .blog-Img{
    width:398px;
    height:260px
  }

  @media all and (max-width: 990px) {  
  .body {
    margin:0 10%;
    }
    .blog-Img{
      width:100%;
      height:100%
    }
  }